$light-blue: #00aed5;

.user-name {
  margin-top: 15px;

  .profile-name-first, .profile-name-last {
    color: $light-blue;
    font-family: 'gothamrnd-light';
    font-size: 24px;
    font-weight: 100;
    background: none;
    padding: 0;
    text-transform: capitalize;
  }

  .profile-name-last {
    color: #1B75BC;
    font-family: 'gothamrnd-book';
    font-weight: 900;

  }
}

.compact-view {
  p {
    width: 24%;
    padding: 0 0.5%;
    float:left;
    margin-bottom: 15px;

    label {
      width: 100%;
    }
  }

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 767px) {
  .user-name {
    .profile-name-first, .profile-name-last {
      font-size: 16px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .compact-view {
      p {
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
      }
    }
  }
}
