#employer_form {
  padding: 0;

  .radio-group {
    padding: 15px 0;
  }

  .form-group {
    padding: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  #employer_form {
    padding: 0;

    .form-group {
      padding: 0;
      width: 100%;
    }
  }
}
