$text-color: #666;
$white: #fff;
$theme-color: #0d75fa;

.compact-view {
  padding: 5px;

  .heading-compact {
    background: $theme-color;
    color: $white;
    margin: 0;
    padding: 5px;
  }

  a {
    display: block;
  }

  .content {
    border-bottom: 0;
  }

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }

  .glyphicon-lock {
    background-color: #dbeef6;
  }

  .add-more {
    color: $white;
    font-size: 12px;
  }
}

.complexity-container {
  overflow: hidden;
  position: relative;
  min-height: 250px;
  //background:red;

  .btn-prev {
    position: absolute;
    left: 0;
    bottom: 50%;
    margin-top: 0;
    margin-right: 0;
    width: auto;
    padding: 12px 2px;
    border-radius: 0 6px 6px 0;
    background: $text-color;
    z-index: 10;

    span {
      color: $white;
    }
  }

  .btn-next {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;
  }
}

