@import '../../../../../css/common';

.wrapper {
  padding: 0 0 90px;
}

.create-new-header {
  height: 0;
  top: 80px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 15px 0 75px;
  }
}
