.card-view {
  .panel {
    padding: 35px 0 15px 15px;

    .profile-picture {
      right: 15px;
    }

    h4 {
      color: #e77e22;
      font-weight: 900;
      font-size: 14px;
      margin: 5px 0 10px;
      text-transform: capitalize;
      position: absolute;
      top: 12px;
      left: 15px;
      font-family: 'gothamrnd-book';
    }

    h5 {

    }
  }
}

.modal {
  button {
    display: block;
  }
}