.panel {
  padding: 40px 0 15px 15px;

  .profile-picture {
    right: 12px;
    left: auto;
  }

  h6 {
    color: #e77e22;
    font-weight: 900;
    font-size: 14px;
    margin: 0 0 10px;
    text-transform: capitalize;
    position: absolute;
    top: 12px;
    left: 15px;
    font-family: 'gothamrnd-book';
  }

  h5 {
    position: absolute;
    top: 17px;
    left: 15px;
    font-family: 'gothamrnd-light';
    font-weight: 600;
    font-size: 12px;
    color: #666;
  }
}

.modal {
  .modal-dialog {
    width: 80%;
    height: 80%;
    top: 50%;
    transform: translate(0, -50%) !important;
    border-radius: 8px;
  }

  .modal-body {
    padding: 0;
    border-radius: 8px;
  }

  .modal-content {
    height: 100%;
    overflow: auto;
    border-radius: 8px;
  }


  button {
    display: block;
  }
}