$text-color: #666;

.panel {
  padding: 0;
  border: 0;
  cursor: pointer;
}

.dashboard-modal {
  .modal-content {
    margin: 7px 15px;
  }
}

.company-profile-picture-col {
  .company-profile-picture {
    float: left;
  }
  div {
    float: left;
    width: calc(100% - 40px);
  }
  .company-name-label {
    color: $text-color;
    padding-top: 4px;
  }
}

.company-date {
  position: absolute;
  right: 8px;
  font-size: 10px;
  color: #b7b7b7;
}
