<div class="professional-data clearfix">
  <div class="col-sm-4 no-padding">
    <label >Ready To Realocate?
      <div ng2-auto-complete
           [source]="realocationlist"
           (ngModelChange)="selectrealocationModel($event)">
        <input class="form-control" [ngModel]="realocationModel"  placeholder="ready to realocation" />
      </div>
    </label>
  </div>

  <div class="col-sm-4 no-padding">
    <label >Education:&nbsp;
      <div ng2-auto-complete
           [source]="educationlist"
           (ngModelChange)="selecteducationModel($event)">
        <input class="form-control" [ngModel]="educationModel"  placeholder="Select Education" />
      </div>
    </label>
  </div>

  <div class="col-sm-4 no-padding">
    <label >Experience:&nbsp;
      <div ng2-auto-complete
           [source]="experiencelist"
           (ngModelChange)="selectexperienceModel($event)">
        <input class="form-control" [ngModel]="experienceModel"  placeholder="Select Education" />
      </div>
    </label>
  </div>

  <div class="col-sm-4 no-padding">
    <label >Current Salary:&nbsp;
      <div ng2-auto-complete
           [source]="salarylist"
           (ngModelChange)="selectsalaryModel($event)">
        <input class="form-control" [ngModel]="salaryModel"  placeholder="Select Education" />
      </div>
    </label>
  </div>

  <div class="col-sm-4 no-padding">
    <label >Notice Period:&nbsp;
      <div ng2-auto-complete
           [source]="noticeperiodlist"
           (ngModelChange)="selectenoticeperiodModel($event)">
        <input class="form-control" [ngModel]="noticeperiodModel"  placeholder="Select Education" />
      </div>
    </label>
  </div>
</div>