.professional-data {
  /*width: 83%;*/

}

@media only screen and (max-width: 1366px) {
  .professional-data {
    /*width: 90%;*/
  }
}

@media only screen and (max-width: 1280px) {
  .professional-data {
    width: 100%;
  }
}

@media only screen and (max-width: 980px) {
  .professional-data {
    .col-sm-4 {
      width: 50%;
      float: left;
    }
  }
}

@media only screen and (max-width: 767px) {
  .professional-data {
    .col-sm-4 {
      width: 100%;
      float: none;
      padding: 0;
    }
  }
}

