$border-color: #e8e8e8;
$text-color: #666;
$white: #fff;
$option-border-color: #f8f8f8;
$option-theme-color: #0074b6;

.select-complexity {
  padding: 15px 0;
  border-bottom: 1px solid $border-color;

  .complexity-name {
    width: 20%;
    height: 90px;
    display: table;

    p {
      text-transform: capitalize;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .scenarios {
    padding: 0;
    width: 80%;
  }

  &:first-child {
    padding: 0 0 15px;
  }
}

.select-option {
  display: inline-block;
  padding: 0 15px;
  text-align: center;
  width: 16%;

  label {
    margin: 0;
  }

  [type="radio"] {
    display: none;
  }

  [type="radio"] + div {
    background: $white;
    border: 1px solid $white;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 90px;
    position: relative;
    vertical-align: middle;
    width: 90px;
  }

  [type="radio"] + div span {
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari */
    display: table;
    font-size: 13px;
    font-weight: 100;
    left: 50%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  [type="radio"] + div:hover {
    border-color: $option-theme-color;
  }

  [type="radio"]:checked + div,
  [type="radio"]:checked + div span {
    background: $option-theme-color;
    border-color: $option-theme-color;
    color: $white;
  }

}

@media screen and (max-width: 1366px) {
  .select-option {
    padding: 0 8px;
  }
}

@media screen and (max-width: 1024px) {
  .select-option {
    width: 16.5% ;
  }
}

@media screen and (max-width: 980px) {
  .select-complexity {
    .complexity-name {
      width: 100%;
      height: auto;
      margin: 0 0 10px;
    }

    .scenarios {
      width: 100%;
    }
  }

  .select-option {
    width: 33%;
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .select-option {
    width: 50%;
  }
}

