@import '../../../../../css/common';

@media only screen and (max-width: 980px) {
  .left-content {
    padding-right: 0;
    width: 100%;
  }

  .right-content {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .filter-dropdrown {
    .dropdown-menu {
      background: transparent;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      top: 0;
      z-index: unset;
    }
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
    min-height: calc(100vh - 50px);
  }

  .filter-dropdrown {
    margin: 0 -10px;

    .dropdown-menu {
      border: 0;
      border-radius: 0;
      box-shadow: 0 30px 62px rgba(0,0,0,.175);
      margin: 0;
      min-width: 100%;
      outline: 0;
      padding: 0 10px 10px;
    }

    .page-heading {
      padding: 10px;
      position: relative;
      width: 100%;
    }

    .glyphicon-filter {
      color: $body-text;
      margin-right: 5px;
      padding: 5px;
      position: absolute;
      right: 0;
      top: 8px;
    }

    .material-wise-selection {
      margin-bottom: 10px;
      width: 100%;
      select {
        max-width: inherit;
        width: 100%;
      }
    }

    .cost-head-selection,
    .building-selection {
      width: 50%;

      select {
        max-width: inherit;
        width: 100%;
      }
    }

    .cost-head-selection {
      padding-right: 5px;
    }

    .building-selection {
      padding-left: 5px;
    }
  }

  .open > .page-heading {
    background: $white;
  }
}





