@import '../../../../css/common';

.wrapper {
  background: $white;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  text-align: center;

  .btn-primary {
    margin-right: 15px;
  }
}

.modal {
  .modal-dialog {
    .btn-primary,
    .btn-default {
      width: 90px;
    }
  }

  .modal-body {
    padding: 40px 30px;
  }
}
