@import '../../../../../css/common';
@import '../../../../../css/variables';

.candidate-compare-capability {
  position: relative;
  box-sizing: border-box;
  width: auto;

  .capability-compare-container {
    display: inline-block;
  }

  .matching-capability-headings {
    background: $white;
    width: 267px;
    float: left;
    margin-right: 4px;
    position: absolute;
    left: 0;
    padding: 0 10px;
    top: 0;
    z-index: 20;

    h6 {
      @extend %text-ellipsis;
      color: $text-color;
      font-size: 12px;
      line-height: 40px;
      left: 0;
      width: 100%;
      font-weight: bold;
      text-align: left;
      padding: 0;
      margin: 0;
      height: 40px;
      border-top: 1px solid $border-color1;
    }
  }

  .matching-capability-details {
    float: left;
    width: auto;
  }

  .capability-compare-container:first-child {
    .matching-capability-details {
      padding-left: 272px;
    }
  }
}

