<div class="candidate-compare-capability clearfix">
  <div class="pull-left">
    <div class="capability-compare-container" *ngFor="let item of profileComparisonResult|valueSortFilter ;let i = index">
      <div *ngIf="i == 0">
        <div class="matching-capability-headings">
          <div class="inner">
            <h6 *ngFor="let data of item.capabilityMap | keys">
              {{item.capabilityMap[data].capabilityName}}
              <span class="tooltip-content-new">
                <p>{{item.capabilityMap[data].capabilityName}}</p>
              </span>
            </h6>
          </div>
        </div>
      </div>

      <div class="matching-capability-details">
        <cn-profile-capability-comparison-meta
                [profileComparisonValue]="item"></cn-profile-capability-comparison-meta>
      </div>
    </div>
  </div>
</div>
