@import '../../../../../css/common';
@import '../../../../../css/variables';

.candidate-compare-capability {
  position: relative;
  box-sizing: border-box;
  width: auto;

  .capability-compare-container {
    display: inline-block;
  }

  .matching-capability-headings {
    background: $white;
    width: 267px;
    float: left;
    margin-right: 4px;
    position: absolute;
    left: 0;
    padding: 0 10px;
    top: 0;
    z-index: 21;

    .inner {
      position: relative;
    }

    h6 {
      @extend %text-ellipsis;
      color: $text-color;
      font-size: 12px;
      line-height: 40px;
      left: 0;
      width: 100%;
      font-weight: bold;
      text-align: left;
      padding: 0;
      margin: 0;
      height: 40px;
      border-top: 1px solid $border-color1;
      position: relative;

      &:hover > .tooltip-content-new {
        visibility: visible;
        opacity: 1;
      }
    }

    .tooltip-content-new {
      display: inline-block;
      background-color: $light-gray;
      border-radius: 4px;
      box-shadow: 3px 3px 15px 1px $gray;
      opacity: 0;
      padding: 10px;
      position: fixed;
      transition: all .1s linear;
      width: 245px;
      z-index: 99;
      margin-top: 40px;
      left: 10px;
      visibility: hidden;

      p {
        color: $black1;
        text-overflow: clip;
        white-space: pre-wrap;
        overflow: visible;
        line-height: 20px;
        font-size: 14px;
        margin: 0;
      }

      &:after {
        content: "";
        border-bottom: 10px solid $light-gray;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -10px;
        margin-left: -10px;
        left: 20px;
      }
    }
  }

  .matching-capability-details {
    float: left;
    width: auto;
  }

  .capability-compare-container:first-child {
    .matching-capability-details {
      padding-left: 272px;
    }
  }
}

