<div class="form-group" *ngFor="let item of tempfield;let i= index">

  <div>

    <div>

      <input type="text" [ngModel]="schoolName" (ngModelChange)="SChoolName($event)" placeholder="School/College Name"  >
    </div>

    <div>
      <input type="text" [ngModel]="universityName" (ngModelChange)="UniversityName($event)" placeholder="Board/university Name">
    </div>

    <div>
      <input type="text" [ngModel]="passingyear" (ngModelChange)="PassingYear($event)" placeholder="Year of Passing">
    </div>

    <div>
      <textarea rows="4" cols="50" [ngModel]="specialization" (ngModelChange)="Specializationfunc($event)" placeholder="specialization/Remarks"></textarea>


    </div>

  </div></div>
<div class="clear">
  <button type="button" id="more_fields" (click)="addAnother()" class="btn btn-create-profile" [disabled]="disbleRole" >
    Add Another <span>+</span>
  </button>
</div>



