<button type="button" class="btn btn-block" data-toggle="collapse" data-target="#filter-container">Filters</button>
<div>
  <div id="filter-container" class="collapse filter-container">
    <p class="info">Adjust these filters to get more numbers of candidates</p>

    <div class="inner col-sm-12">
      <label>Proficiency</label>
      <div *ngFor="let itemList of proficiencyList">
    <input type="checkbox"
           value="{{itemList}}"
           (change)="filterByProficiency($event)">
      <span>{{itemList}}</span>
      </div>
    </div>

    <div class="inner col-sm-12">
      <label>Location</label>
      <!--<select (change)="filterByLocation($event.target.value)">
        <option value="{{itemList}}" *ngFor="let itemList of locationList">{{itemList}}</option>
      </select>-->
      <label>Current Location</label>
      <input type="radio" name="radiogroup"
             [value]="pune"
             (change)="onSelectionChange($event.target.value)">
      <label>All</label>
      <input type="radio" name="radiogroup"
             [value]="All"
             (change)="onSelectionChange($event.target.value)">
    </div>

    <div class="inner col-sm-12">
      <label>Experience</label>
      <label>Min</label>
      <select (change)="selectExperiencesMinModel($event.target.value)">
        <option value="{{itemList}}" *ngFor="let itemList of experienceRangeList">{{itemList}}</option>
      </select>
      <label>Max</label>
      <select (change)="selectExperiencesMaxModel($event.target.value)">
        <option value="{{itemList}}" *ngFor="let itemList of experienceRangeList">{{itemList}}</option>
      </select>
    </div>
   <!-- <div class="col-sm-6 padding-right5">
      <label>
        <div ng2-auto-complete
             [source]="experienceRangeList"
             (click)="selectExperiencesMinModel($event)">
          <input class="form-control" [ngModel]="candidateFilter.experienceMinValue" placeholder="Min"/>
        </div>
      </label>
    </div>
    <div class="col-sm-6 padding-left5">
      <label>
        <div ng2-auto-complete
             [source]="experienceRangeList"
             (click)="selectExperiencesMaxModel($event)">
          <input class="form-control" [ngModel]="candidateFilter.experienceMaxValue" placeholder="Max"/>
        </div>
      </label>
    </div>
-->

    <div class="inner col-sm-12">
      <label>Education</label>
      <div *ngFor="let itemList of educationList">
        <input type="checkbox"
               value="{{itemList}}"
               (change)="filterByEducation($event)"
        >
        <span>{{itemList}}</span>
      </div>
    </div>


    <div class="inner col-sm-12">
      <label>Lead Time to Join</label>
      <select  (change)="filterByJoinTime($event.target.value)">
        <option value="{{itemList}}" *ngFor="let itemList of jointimeList">{{itemList}}</option>
      </select>
    </div>

     <!-- <label>Salary Range</label>
      <div class="col-sm-6 padding-right5">
        <label>
          <div ng2-auto-complete
               [source]="salaryRangeList"
               (ngModelChange)="selectSalaryMaxModel($event)">
            <input class="form-control" [ngModel]="candidateFilter.salaryMinValue" placeholder="Min"/>
          </div>
        </label>
      </div>
      <div class="col-sm-6 padding-left5">
        <label>
          <div ng2-auto-complete
               [source]="salaryRangeList"
               (ngModelChange)="selectSalaryMaxModel($event)">
            <input class="form-control" [ngModel]="candidateFilter.salaryMaxValue" placeholder="Max"/>
          </div>
        </label>
      </div>-->
    <div class="inner col-sm-12">
      <label>Salary Range</label>
      <label>Min</label>
      <select (change)="selectSalaryMinModel($event.target.value)">
        <option value="{{itemList}}" *ngFor="let itemList of salaryRangeList">{{itemList}}</option>
      </select>
      <label>Max</label>
      <select (change)="selectSalaryMaxModel($event.target.value)">
        <option value="{{itemList}}" *ngFor="let itemList of salaryRangeList">{{itemList}}</option>
      </select>
    </div>

    <div class="inner col-sm-12">
      <label>Industry Exposure</label>
      <div *ngFor="let itemList of industryList">
        <input type="checkbox"
               value="{{itemList}}"
               (change)="filterByIndustryExposure($event)"
        >
        <span>{{itemList}}</span>
      </div>
    </div>

  </div>
</div>

