<div class="home-page">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img alt="" class="logo-image" src="./assets/build-info/header/buildinfo-logo.png">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Features</a></li>
          <li><a href="../navbar/">User's guide</a></li>
          <li><a href="../navbar/">Pricing</a></li>
          <li><a href="../navbar/">Estimation Services</a></li>
          <li><a href="../navbar/">Customers</a></li>
          <li><a href="../navbar/">Other Products</a></li>
          <!--<li>
            <a href="../navbar/">
              <img alt="" class="logo-image" src="./assets/build-info/header/buildinfo-logo.png">
            </a>
          </li>-->
          <li><a href="../navbar/" class="login-link">login</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <section class="container">
    <div class="col-xs-6">
      <div class="left-row">
        <ul>
          <li class="fadein-sub-element">Budget</li>
          <li class="fadein-sub-element">Estimate</li>
          <li class="fadein-sub-element">Control</li>
        </ul>
      </div>
      <h2> Your Construction Cost </h2>

      <div class="request-btn">
        <button>
          <span class="cricle">
            <img height="19" src="./assets/build-info/home-page/landingpage-user.svg"/>
          </span>
          <span class="btn-label"> Request for online demo </span>
        </button>
      </div>

      <div class="start-trial-btn">
        <button>
          <label> Start 15 Days Trial </label>
        </button>
        <span> No obligation. No card details required. </span>
      </div>
    </div>

    <div class="col-xs-6">
      <img alt="" height="571" width="100%" src="./assets/build-info/home-page/landing-img.svg">
    </div>
  </section>

  <section class="users-guide container">
    <h3>
      <span class="line"> </span>
      User's guide
    </h3>

    <div class="col-xs-12">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="video-img">
          </div>
          <div class="caption">
            <h4>Nigeria</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="video-img">
          </div>
          <div class="caption">
            <h4>Greenland</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="video-img">
          </div>
          <div class="caption">
            <h4>Russian Federation</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="video-img">
          </div>
          <div class="caption">
            <h4>Nigeria </h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="video-img">
          </div>
          <div class="caption">
            <h4>Greenland</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
              metus.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="yellow-bg">
    <section class="product-pricing">
      <div class="container">
        <h3>
          <span class="line"> </span>
          <span>
        Product
        <label> pricing </label>
      </span>
        </h3>
      </div>


      <!--<div class="yellow-bg-line"></div>-->
      <div class="container ">
        <div class="pricing-card">
          <div class="">
            <img alt="" height="100" src="./assets/build-info/home-page/building-icon.svg">
          </div>
          <div class="price"> Rs 3499/-</div>
          <div class="col-xs-12 card-list">
            <div class="col-xs-7 text-right">
              <label> No. of Projects </label>
            </div>
            <div class="col-xs-5 text-left">
              <span> 1 </span>
            </div>
          </div>
          <div class="col-xs-12 card-list">
            <div class="col-xs-7 text-right">
              <label> No. of Buildings </label>
            </div>
            <div class="col-xs-5 text-left">
              <span> 5 </span>
            </div>
          </div>
          <div class="col-xs-12 card-list">
            <div class="col-xs-7 text-right">
              <label> Package Duration </label>
            </div>
            <div class="col-xs-5 text-left">
              <span> 1 year </span>
            </div>

            <div class="col-xs-12 padding-top-25">
              <p>
                No AMC cost
              </p>
              <p>
                No support/training cost
              </p>
              <p>
                No software upgradation cost
              </p>
            </div>

          </div>

          <div class="col-xs-12">
            <div class="buy-now-btn">
              <button class="btn btn-primary"> BUY NOW</button>
            </div>
          </div>
        </div>


      </div>

    </section>

    <section class="estimation-services">
      <h3>
        <span class="line"> </span>
        <span>
        Estimation
        <label> services </label>
      </span>
      </h3>

      <div class="container">
        <div class="col-xs-12">
          <div class="form-left">
            <h4>
              <p> Adding data seems complicated? </p>
              <p> Don’t worry, <span> we will estimate your project </span></p>
              <p> on behalf of you. </p>
            </h4>
          </div>
          <div class="form-right">
            <div class="col-md-8 col-md-offset-1">
              <form>
                <div class="form-group">
                  <input type="text" id="name" class="form-control" placeholder="Name*"/>
                </div>

                <div class="form-group">
                  <input type="email" id="email" class="form-control" placeholder="Email iD*"/>
                </div>

                <div class="form-group">
                  <input type="text" id="number" class="form-control" placeholder="Contact Number*"/>
                </div>

                <div class="form-group">
                  <input type="text" id="company-name" class="form-control" placeholder="Company Name*"/>
                </div>

                <div class="form-group">
                  <select class="form-control">
                    <option selected>City</option>
                    <option>Colombia</option>
                    <option>Argentina</option>
                    <option>Mexico</option>
                    <option>Perú</option>
                    <option>Ecuador</option>
                  </select>
                </div>

                <button class="btn btn-primary">SUBMIT</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="our-customers">
      <div class="container">
        <h3>
          <span class="line"> </span>
          <span>
        Our
        <label> customers </label>
      </span>
        </h3>
        <div class="col-xs-12 ">
          <h5> Trusted by leading <span> Developers, Contractors and Architects </span></h5>
        </div>
      </div>
    </section>
  </section>

  <section class="contact-us">
    <div class="container">
      <h3>
        <span class="line"> </span>
        <span>
        Contact
        <label> us </label>
      </span>
      </h3>
    </div>
    <div class="container">
      <div class="col-xs-12">
        <div class="form-left">
          <div class="form-group">
            <div class="col-xs-12">
              <img alt="" height="36" src="./assets/build-info/home-page/mobilenumber.svg">
              <p>
                +91 985858558
              </p>
            </div>
            <div class="col-xs-12">
              <img alt="" height="36" src="./assets/build-info/home-page/mailid.svg">
              <p>
                bigslicetechnologies@gmail.com
              </p>
            </div>
            <div class="col-xs-12">
              <img alt="" height="36" src="./assets/build-info/home-page/location.svg">
              <p>
                102/A, Malave bhavan, behind Mangala theatre, Shivajinagar, Pune-411005
              </p>
            </div>
          </div>
        </div>
        <div class="form-right">
          <form>
          <div class="col-md-8 col-md-offset-1">

              <div class="form-group">
                <input type="email" id="email1" class="form-control" placeholder="Email iD*"/>
              </div>

              <div class="form-group">
                <input type="text" id="number1" class="form-control" placeholder="Contact Number*"/>
              </div>

              <div class="form-group">
                <input type="text" id="company-name1" class="form-control" placeholder="Company Name*"/>
              </div>
          </div>
            <div class="col-md-11 col-md-offset-1">
              <div class="form-group pull-left col-xs-12 no-padding">
                <label class="col-xs-12 no-padding form-control"> Where do you want to send th is lead? </label>
                <div class="toggleswitch">
                  <div class="radio-button">
                    <input id="opt_a" name="option" type="radio" value="opt_a">
                    <label for="opt_a" class="r-btn">
                      <img alt="" height="19" src="./assets/build-info/home-page/contactform-support.svg">
                      <span> Support team </span>
                    </label>
                  </div>

                  <div class="radio-button">
                    <input checked="checked" id="opt_b" name="option" type="radio" value="opt_b">
                    <label for="opt_b" class="r-btn">
                      <img alt="" height="22" src="./assets/build-info/home-page/contactform-sales.svg">
                      <span> Sales </span>
                    </label>
                  </div>

                  <div class="radio-button">
                    <input id="opt_c" name="option" type="radio" value="opt_c">
                    <label for="opt_c" class="r-btn">
                      <img alt="" height="19" src="./assets/build-info/home-page/contactform-estimate.svg">
                      <span> Estimation services </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-12 text-left col-md-offset-1">
              <button class="btn btn-primary">SUBMIT</button>
            </div>

            </form>

        </div>
      </div>
    </div>
  </section>

  <section class="other-products">
    <div class="container">
      <h3>
        <span class="line"> </span>
        <span>
        Other products
        <label> developed by us </label>
      </span>
      </h3>

      <div class="col-xs-12">
        <div class="build-info-section">
          <img alt="" height="129" src="./assets/build-info/home-page/buildingo-logo.svg">
          <h4 class="products-name">
            BuildInfo
          </h4>
          <p>
            Engaged in development of utility tools for the construction industry.
          </p>
        </div>

        <div class="product-lists">
          <img alt="" height="129" src="./assets/build-info/home-page/rateanalysis-logo.svg">
          <h4 class="products-name">
            Rate Analysis
          </h4>
          <p>
            Featuring Rate Analysis of all major
            Civil and Finishing items with updated
            material and labour rates
          </p>
          <div class="app-links">
            <span class="pull-left">
              <img alt="" height="35" src="./assets/build-info/home-page/playstore-logo.svg">
            </span>
            <span class="pull-right">
              <img alt="" height="35" src="./assets/build-info/home-page/appstore-logo.svg">
            </span>
          </div>
        </div>

        <div class="product-lists">
          <img alt="" height="129" src="./assets/build-info/home-page/mycivilcalc-logo.svg">
          <h4 class="products-name">
            Rate Analysis
          </h4>
          <p>
            Featuring Rate Analysis of all major
            Civil and Finishing items with updated
            material and labour rates
          </p>
          <div class="app-links">
            <span class="pull-left">
              <img alt="" height="35" src="./assets/build-info/home-page/playstore-logo.svg">
            </span>
            <span class="pull-right">
              <img alt="" height="35" src="./assets/build-info/home-page/appstore-logo.svg">
            </span>
          </div>
        </div>

        <div class="product-lists">
          <img alt="" height="129" src="./assets/build-info/home-page/materialanalysis-logo.svg">
          <h4 class="products-name">
            Rate Analysis
          </h4>
          <p>
            Featuring Rate Analysis of all major
            Civil and Finishing items with updated
            material and labour rates
          </p>
          <div class="app-links">
            <span class="pull-left">
              <img alt="" height="35" src="./assets/build-info/home-page/playstore-logo.svg">
            </span>
            <span class="pull-right">
              <img alt="" height="35" src="./assets/build-info/home-page/appstore-logo.svg">
            </span>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>



<footer class="footer">
  <nav class="navbar navbar-default navbar-custom">
    <div class="container p-t-b-10">
      <div class="nav navbar-nav navbar-left">
        <ul class="footerleft">
          <li>
            <a href=""> Other products </a>
          </li>
          <li>
            <a href="">Terms and conditions</a>
          </li>
          <li>
            <a href="">Privacy policy </a>
          </li>
        </ul>
      </div>

      <div class="nav navbar-nav navbar-right">
        <ul>
          <li>
            <a href="">
              <img alt="" height="41" src="./assets/build-info/home-page/youtube-footer.svg">
            </a>
          </li>
          <li>
            <a href="">
              <img alt="" height="41" src="./assets/build-info/home-page/facebook-footer.svg">
            </a>
          </li>
        </ul>
      </div>



    </div>
    <div class="col-xs-12 copyright-label">
      Copyright © 2019 Big Slice Technologies Pvt Ltd (OPC) - All Right Reserved
    </div>
  </nav>
</footer>
