@import '../../../../css/common';

.page-header {
  height: 80px;
  border-bottom: 1px solid $gray;
  z-index: 99;
}

.dropdown-item{
  text-transform: none;
}

@media only screen and (max-width: 767px) {
  .page-header {
    height: 50px;
  }
}
