.select-industry {
  .btn {
    &:focus,
    &:active {
      outline: none;
    }
  }

  .btn-success {
    float: right;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .select-industry {
    .btn-success {
      float: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .select-industry {
    padding: 0;
  }
}
