@import '../../../../../../css/variables';

.candidate-capability-container {
  background: $white;
  display: inline-block;
  margin: 0 3px;
  width: 140px;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08);

  .capability-percentage {
    height: 40px;
    border-bottom: 1px solid $white;

    p {
      margin: 0;
      color: $white;
      line-height: 39px;
      font-size: 16px;
      text-align: right;
      font-weight: 500;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0 10px;
    }
  }
}
