$light-blue: #00aed5;
$job-title: #333;

h4 {
  font-size: 13px;
  margin: 0 0 10px;
  font-family: 'gothamrnd-book';
  font-weight: 900;
}

.main-content {
  input {
    width: 75%;
  }
}

.user-name {

  .profile-name-first,
  .profile-name-last {
    color: $light-blue;
    font-family: 'gothamrnd-book';
    font-size: 20px;
    background: none;
    padding: 0;
    text-transform: capitalize;
  }
}

.job-title {
  color: $job-title;
  font-family: 'gothamrnd-light';
  font-size: 20px;
  background: none;
  padding: 0;
  text-transform: capitalize;
}

.compact-view {

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .user-name {
    .profile-name-first, .profile-name-last {
      font-size: 16px;
    }
  }

  .col-sm-3,
  .col-sm-9 {
    padding: 0;
  }
}
