@import '../../../css/common';

.registration {
  .error-message-registration {
    text-align: left;

    p {
      color: $toaster-error;
      font-size: 10px;
      font-style: italic;
      margin: 10px 0 0;
      text-align: right;
    }
  }

  .form-group {
    padding: 0 15px;
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .registration {

    .error-message-registration > p {
     text-align: left;
    }

    .form-group {
      padding: 0;
      width: 100%;
    }
  }
}
