@import '../../../css/common';

.registration {
  position: relative;

  .content {
    width: 40%;
  }

  .radio-group {
    padding:0 15px 15px;

    div {
      margin-top: 5px;
    }
  }

  form {
    padding: 15px 0;
  }

  label {
    width: 130px;
    margin: 0;
  }

  input {

    &:focus,
    &:active {
      outline: none;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .registration {
    .content {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .registration {
    .content {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .registration {
    .content {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 980px) {
  .registration {
    .content {
      width: 90%;
    }

    .form-group {
      padding: 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .registration {
    .content {
      .radio-group {
        padding: 0 0 15px;
      }
    }

    form {
      padding: 15px;
    }
  }
}
