@import '../../../css/common';

.registration {
  position: relative;

  .content {
    width: 40%;
    left: 50%;
    margin: 100px 0 50px;
    position: relative;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }

  .radio-group {
    padding: 15px;
  }

  .alert {
    margin: 15px;
  }

  form {
    padding: 15px;
  }

  label {
    width: 130px;
    margin: 0;
  }

  input {

    &:focus,
    &:active {
      outline: none;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .registration {
    .content {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .registration {
    .content {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .registration {
    .content {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 980px) {
  .registration {
    .content {
      width: 80%;
    }

    .form-group {
      padding: 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .registration {
    .content {
      width: 90%;
    }
  }

  .main-form-wrapper {
    .content {
      .radio-group {
        padding: 0 0 15px;
      }
    }
  }
}
