$border-color: #e8e8e8;
$light-blue: #00aed5;
$primary-option: #3694d1;
$secondary-option: #81D4FA;
$modal-bg: rgba(0, 0, 0, .2);
$active-section: #a8de78;

.modal-bg {
  background: $modal-bg;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  animation: fadein .5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.modal-content {
  z-index: 3;
  position: relative;
  border-radius: 0;
  animation: fadein .5s;
  margin: 7px 15px;
  box-shadow: 1px 1px 1px 0 $modal-bg;
  border: 1px solid $active-section;
  padding: 15px;
}

.compact-view {
  clear: both;
  border: 1px solid $border-color;
  position: relative;
  padding: 10px;

  .btn-edit {
    background: url("../assets/c-next/compact-view/editButton.png") no-repeat 50% 50%;
    background-size: cover;
    background-color: #fff;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    padding: 0;
    display: block;
    transition: opacity 0.25s ease-out;
    opacity: 0;
    z-index: 3;
  }

  .glyphicon-lock {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    height: 20px;
    width: 25px;
    background-color: #fff;
    color: #ccc;
    padding: 5px;
  }

  .heading {
    background: none !important;
    padding: 0 !important;
    margin: 5px 0 5px 0 !important;
  }

  .img-container {
    width: 85px;
    height: 85px;
    overflow: hidden;
    border: 1px solid $border-color;
    box-sizing: border-box;
    position: relative;
    margin: 0 15px 0 0;
    float: left;

    img {
      width: 100%;
      background: #e6e6e6;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  .user-name {
    margin-top: 0 !important;
  }

  p {
    margin: 0;
    font-size: 12px;
  }

  label {
    color: $light-blue;
    padding: 0;
    min-width: 90px;
    margin-bottom: 0;
  }

  .option {
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
    padding: 0;
  }

  .content {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  span {
    padding-left: 0;
  }

  ul {
    padding: 0 15px;

    li {
      width: 33%;
      float: left;
      margin-bottom: 10px;
      text-transform: capitalize;
      list-style-image: url('../../../assets/c-next/compact-view/list-type.png');
    }
  }

  .capability-complexity {
    .heading {
      margin-top: 0 !important;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .compact-view {
    .btn-edit {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .compact-view {
    ul {
      li {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 767px) {

  .modal-content {
    margin: 5px;
  }

  .compact-view {
    padding: 5px;

    label {
      min-width: 50px;
    }

    .img-container {
      margin: 0 5px 0 0;
      width: 65px;
      height: 65px;
    }

    .heading {
      margin-top: 0 !important;
    }

    .select-option {
      span {
        font-size: 9px;
      }
    }

    .capability-complexity {
      border-top: 0 !important;

      .content {
        margin: 5px !important;
      }
    }

    ul {
      li {
        width: 100%;
        float: left;
      }
    }
  }
}
