$white: #fff;
$theme-color: #3694d1;
$header-shadow: rgba(0, 0, 0, 0.4);

.page-header {
  border-bottom: 1px solid $theme-color;
  box-shadow: 0 0 2px 1px $header-shadow;
  background: $theme-color;
  height: 50px;
  left: 0;
  margin: 0 auto;
  padding-top: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  text-align: left;

  .user-info {
    img {
      float: left;
      height: 40px;
      margin: 0 15px 0 0;
      width: auto;
    }

    h4 {
      color: $white;
      display: table-cell;
      font-family: 'gothamrnd-book';
      font-size: 14px;
      margin: 0;
      height: 43px;
      overflow: auto;
      text-overflow: clip;
      text-transform: capitalize;
      vertical-align: middle;
      width: auto;
      white-space: pre-wrap;
    }

    h5 {
      color: $white;
      height: 20px;
      font-family: 'gothamrnd-book';
      font-size: 12px;
      overflow: auto;
      text-overflow: clip;
      text-transform: capitalize;
      vertical-align: middle;
      width: auto;
      white-space: pre-wrap;
      margin: 0;
    }
  }

  .list-counts > li {
    color: $white;
    float: left;
    list-style: none;
    padding-right: 25px;
    width: auto;
    text-align: center;

    p {
      color: $white;
      font-size: 10px;
      line-height: 12px;
      margin: 0;
    }

    span {
      font-size: 20px;
      line-height: 27px;
    }

    img {
      margin-top: -9px;
    }

    .dropdown > a {
      color: $white;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .page-header {
    .container {
      width: 100%;
    }
  }
}


@media only screen and (max-width: 767px) {
  .page-header {
    .list-counts > li {
      margin-top: 7px;
      padding-right: 10px;

      span {
        font-size: 16px;
        line-height: 25px;
      }

      p {
        display: none;
      }
    }

    .user-info {
      h4 {
        display: none;
      }
    }
  }
}
