@import '../../../css/variables';

.modal-dialog {
  border-radius: 8px;
  text-align: center;
  position: relative;

  .modal-body {
    padding: 0;
  }

  .modal-title {
    background: $modal-bg1;
    color: $theme-color;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
  }

  .modal-content {
    background: $modal-bg1;
    border-radius: 0;
    user-select: none;
  }

  p {
    color: $text-color;
    font-size: 13px;
    padding: 0 15px;
    text-align: left;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 15;
  }

  .button-group {
    margin: 0;
    padding: 0 15px;
    text-align: left;
  }
}

.popup {
  .button-group {
    margin: 20px 0 10px;
    text-align: center !important;
    position: relative !important;
    padding: 0;
  }

  .btn {
    display: inline-block;
    float: none !important;
    margin-top: 0;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 450px;
    margin: 0 auto;
  }
}
