@import '../../../../css/common';

.activate-user {
  background-position: 0 0;

  .content {
    h5 {
      text-align: left;
      font-size: 18px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  .inner-content {
    padding: 15px;
  }
}
