@import '../../../../css/common';

.main-form-wrapper {
  form {
    padding: 15px 30px;
  }

  .form-group {
    margin-top: 15px;
  }
}

.modal {
  .modal-bg {
    text-align: center;
    p {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .main-form-wrapper {
    form {
      padding: 15px;
    }
  }
}
