@import '../../../../css/common';

.main-form-wrapper {
  form {
    padding: 15px 30px;
  }
}

@media only screen and (max-width: 768px) {
  .main-form-wrapper {
    form {
      padding: 15px;
    }
  }
}
