@import '../../../../css/common';

.main-form-wrapper {
  form {
    padding: 15px 30px;
  }

  .form-group {
    margin-top: 15px;
  }
}

.modal {
  .modal-content {
    border-radius: 0;
    border: 0;
  }

  .modal-body {
    padding: 0;
  }

  .content {
    padding: 15px;
    text-align: left;
  }

  h5 {
    color: $white;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 15px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
  }

  h4 {
    margin-top: 15px;
  }

  .modal-bg {
    padding: 0;

    p {
      text-align: left;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .main-form-wrapper {
    form {
      padding: 15px;
    }
  }
}
