<div class="manage_candidates">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#manage__candidates__career">
        <span class="icon-dashboard"></span>
        {{getButtons().MY_CAREER_PAGE}}
      </a>
    </li>
  </ul>
  <div class="tab-content">
     <div id="manage__candidates__career" class="tab-pane fade in manage__candidates__career active">
       <div class="manage__candidates__date">
         <ul>
           <li>
             <label> From</label>
             <input type="date" />
           </li>
           <li>
             <label> To</label>
             <input type="date" />
           </li>
         </ul>
       </div>
       <div class="manage__candidates_table">
         <div class="row">
           <div class="col-xs-10">
             <span>
               Applied Candidates
             </span>
           </div>
           <div class="col-xs-2">
             <span>
               24
             </span>
           </div>
         </div>
         <div class="row">
           <div class="col-xs-10">
             <span>
               Applied Candidates
             </span>
           </div>
           <div class="col-xs-2">
             <span>
               24
             </span>
           </div>
         </div>
         <div class="row">
           <div class="col-xs-10">
             <span>
               Applied Candidates
             </span>
           </div>
           <div class="col-xs-2">
             <span>
               24
             </span>
           </div>
         </div>
         <div class="row">
           <div class="col-xs-10">
             <span>
               Applied Candidates
             </span>
           </div>
           <div class="col-xs-2">
             <span>
               24
             </span>
           </div>
         </div>
         <div class="row">
           <div class="col-xs-10">
             <span>
               Applied Candidates
             </span>
           </div>
           <div class="col-xs-2">
             <span>
               24
             </span>
           </div>
         </div>
         <div class="row">
           <div class="col-xs-10">
             <span>
               Applied Candidates
             </span>
           </div>
           <div class="col-xs-2">
             <span>
               24
             </span>
           </div>
         </div>
       </div>
       <a class="manage__candidates__export__btn" href="">
         {{getButtons().EXPORT}}
       </a>
     </div>
  </div>

</div>
