@import '../../../../css/variables';

.manage_candidates {
  margin: 50px 0 0;
  width: 100%;
  .nav-tabs {
    background: $white;
    padding-left: 30px;
    li {
      a {
        border-bottom: 3px solid $black-theme-color !important;
        color: $black-theme-color !important;
      }
    }
  }
  .tab-content {
    padding-left: 30px;
    text-align: left;
    .manage__candidates__career {
      width: 600px;
      .manage__candidates__date {
        ul {
          float: left;
          margin: 10px 0;
          padding: 0;
          width: 100%;
          li {
            display: block;
            float: left;
            margin: 0 10px 0 0;
          }
        }
      }
      .manage__candidates_table {
        background: $white;
        display: inline-block;
        padding: 2px;
        width: 100%;
        .row {
          margin: 0;
          padding: 8px 10px;
          &:nth-child(odd) {
            background: $active-color;
          }
          &:nth-child(even) {
            background: $white;
          }
        }
      }
    }
  }
  .manage__candidates__export__btn {
    background-color: $blue-color !important;
    border: 0 !important;
    border-radius: 4px;
    color: $white;
    display: inline-block;
    font-family: 'gothamrnd-light';
    font-size: 12px;
    height: 30px;
    margin-top: 10px;
    min-width: 120px;
    padding: 7px 20px;
    text-align: center;
  }
}
