<cn-value-portrait-header></cn-value-portrait-header>
<cn-candidate-info-block></cn-candidate-info-block>
<cn-candidate-capability-portrait></cn-candidate-capability-portrait>

<div class="col-xs-12 no-padding value-portraot-bottom-section">
  <div class="col-lg-4 value-portraot-candidate-industry">
    <span class="icon"> </span>
    <label>
      Additional Industry Exposure
    </label>
    <span>
      Healthcare, Banking
    </span>
  </div>
  <div class="col-lg-4 value-portraot-candidate-keyskills">
    <span class="icon"> </span>
    <label>
      Key Skills
    </label>
    <span>
      Photoshop, Illustrator
    </span>
  </div>
  <div class="col-lg-4">
    <div class="avout-myself-btn">
      About Myself
      <div class="tooltip-content3">
        Certification
      </div>
    </div>

  </div>
</div>

