<header class="page-header">
  <div class="container-fluid">
    <cn-recruiter-shared-header></cn-recruiter-shared-header>
    <ul class="nav navbar-nav navbar-left list-counts">
      <li>
        <div class="jobs-posted"></div>
        <span>{{jobCount}}</span>
        <p>Jobs Posted</p>
      </li>
      <li>
        <div class="matching-profiles"></div>
        <span *ngIf="headerInfo">{{headerInfo.totalNumberOfCandidateInCart}}</span>
        <p>Candidates in Cart</p>
      </li>
      <li>
        <div class="candidates-applied"></div>
        <span *ngIf="headerInfo">{{headerInfo.totalNumberOfCandidatesApplied}}</span>
        <p> Applied Candidates</p>
      </li>
    </ul>
  </div>
</header>

