$white: #fff;

.page-header {
  .user-info {
    img {
      width: auto;
      height: 40px;
      margin: 0 15px 0 0;
      float: left;
    }

    h4 {
      margin: 0;
      width: auto;
      color: $white;
      text-transform: capitalize;
      font-family: 'gothamrnd-book';
      white-space: pre-wrap;
      text-overflow: clip;
      overflow: auto;
      font-size: 14px;
      vertical-align: middle;
      display: table-cell;
      height: 43px;
    }
  }

  .job-posted > li {
    color: $white;
    width: 12%;
    float: left;
    list-style: none;
    padding-right: 10px;

    p {
      margin: 0;
      color: $white;
      font-size: 10px;
      line-height: 12px;
    }

    span {
      font-size: 20px;
      line-height: 27px;
    }

    img {
      margin-top: -9px;
    }
  }
}
@media only screen and (max-width: 1280px) {
  .page-header {
    .container {
      width: 100%;
    }

    .user-info {
      padding: 0;
    }
  }
}
@media only screen and (max-width: 980px) {
  .page-header {
    .job-posted > li {
      width: 17%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page-header {
    .user-info {
      h4 {
        display: none;
      }
    }
  }
}
