.jobs-posted {
  display: inline-block;
  width: 24px;
  height: 26px;
  margin: 3px 7px -5px 0;
  background: url(../assets/c-next/card-view/sprite.png) no-repeat -9px -339px;
}
.matching-profiles {
  display: inline-block;
  width: 24px;
  height: 26px;
  margin: 3px 7px -5px 0;
  background: url(../assets/c-next/card-view/sprite.png) no-repeat -55px -339px;
}
.candidates-applied {
  display: inline-block;
  width: 24px;
  height: 26px;
  margin: 3px 7px -5px 0;
  background: url(../assets/c-next/card-view/sprite.png) no-repeat -101px -339px;
}
