<bi-project-header></bi-project-header>
<section class="wrapper">

<div *ngIf="materialTakeOffDetails !== undefined" class="col-md-12">
  <div *ngFor="let materialData of materialTakeOffDetails | keys">
    <div class="col-md-12">
    {{materialData}} {{ materialTakeOffDetails[materialData].header }}
    </div>

    <div *ngFor="let secondaryViewData of materialTakeOffDetails[materialData].secondaryView | keys">
      <div class="col-md-12">
      {{secondaryViewData}} {{ materialTakeOffDetails[materialData].secondaryView[secondaryViewData].header }}

        <div *ngFor="let tableView of materialTakeOffDetails[materialData].secondaryView[secondaryViewData].table | keys" class="col-md-12">


          <div *ngFor="let tableHeader of materialTakeOffDetails[materialData].secondaryView[secondaryViewData].table[tableView] | keys" class="col-md-12">

            {{tableHeader}}

          </div>

          </div>
      </div>

    </div>

  </div>
</div>


</section>
