<div class="attribute-container">
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <h6>Key skills Matching</h6>
    </div>
    <div class="matching-candidate-attributes">
      <!-- Start: repeat this div using for loop -->
      <div class="candidate-attribute-list">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
      </div>
      <div class="candidate-attribute-list">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
      </div>
      <div class="candidate-attribute-list">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
      </div>
      <div class="candidate-attribute-list">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
      </div>
      <div class="candidate-attribute-list">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <h6>Current Salary</h6>
    </div>
    <div class="matching-candidate-attributes">
      <!-- Start: repeat this div using for loop -->
      <div class="candidate-attribute-list">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
      </div>
      <div class="candidate-attribute-list">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
      </div>
      <div class="candidate-attribute-list">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
      </div>
      <div class="candidate-attribute-list">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
      </div>
      <div class="candidate-attribute-list">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            my key skills
          </p>
        </div>
        <div>
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            my key skills
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
