//Common Fonts

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/framework/fonts/glyphicons-halflings-regular.eot'),
  url('../assets/framework/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/framework/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/framework/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/framework/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@import './common';

//cn-next
@import 'c-next/common-components/cn-header';

