//Common Variables
$white: #fff;
$bg-notification-unread: #fafafa;
$bg-wrapper: #f8f8f8;
$loader-border: #d5d5d5;
$header-bg: #e8e8e8;
$border-color: #e8e8e8;
$border-grey: #ccc;
$wrapper-text: #aaa;
$wrapper-border: #999;
$text-color: #333;
$sub-heading: #666;
$grey-background: #777;
$error-success: #42a948;
$error-failure: #a94442;
$toaster-error: #f66761;
$toaster-success: #ffd; // #3ec59d;
$bg-disabled: #e82c0c;
$background-black-alpha5: rgba(0, 0, 0, 0.1);
$toaster-message: rgba(102, 102, 102, 0.35);
$bg-content: rgba(255, 255, 255, 0.1);
$modal-bg: rgba(0, 0, 0, 0.7);
$btn-color: #1c75bd;
$input-bg: rgba(255, 255, 255, 0.1);
$label: #333;
$theme-color: #66afe9;
$gray-shadow: rgba(0, 0, 0, 0.075);
$blue-shadow: rgba(102, 175, 233, 0.6);
$body-bg: #edf1f5;
$btn-focus: #009de4;
$value-portrait-bg: #f3f3f3;
$circle-bg: #f7b82b;
$modal-border: #ff927f;
$modal-content-bg: #eb6b56;
$black: #000;
$facebook-share: #3b5998;
$twitter-share: #55acee;
$linkedin-share: #0077b5;
$circle-border: #f7b82b;
$placeholder-color: #dedede;
$notes-description-color: #262626;
$exact-bg: #edf7c4;
$higher-bg: #b1d669;
$less-bg: #ffe180;
$missmatch-bg: #ffc3bb;
$golden-star: #9a8a17;
$orange3: #fac51c;
$light-orange: #fba026;
$dark-orange: #f48c37;
$light-red: #eb6b56;
$light-red1: #e14938;
$dark-red1: #b8312f;
$light-gray-bg: #d1d1d1;
$active-green: #419441;
$green: #8dc63f;
$red-gradient-light: rgba(255,0,0,0);
$red-gradient-dark: rgb(235, 107, 86);
$close-button-shadow: rgba(0,0,0,0.3);
$blue: #29b6f6;
$hover-list-bg: #dbdbdb;
$bottom-border: #eaeaea;
$reject-color: #f7941d;
$password-label: #a3a3a3;
$select-hover-bg: #b2eaf9;
$add-keyskill-color: #b1b1b1;
$gray-light: #dddddd;
$border-color1: #e8e8e8;
$shadow-color: rgba(0, 0, 0, 0.175);
$overlay: rgba(0, 0, 0, 0.4);
$bg-container: #f8f8f8;
$error-messages: #f66761;
$content-box-shadow: rgba(0, 0, 0, 0.15);
$gray: #ccc;
$name: #666;
$cn-theme-color: #3694d1;
$modal-bg1: #f2f2f2;
$black-theme-color: #1f2532;
$footer-color: rgba(255, 255, 255, 0.7);
$theme-orange: #f79d00;
$hover-bg: #f2f2f2;

