$border-color: #ccc;

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.form {
  border-top: 1px solid $border-color;
  margin: 10px 0 20px;

  &:first-child {
    border: 0;
  }
}

.left-content {
  float: left;
  padding-right: 15px;
  width: 50%;

  .worked-from,
  .worked-to {
    label {
      font-weight: 400;
      margin-bottom: 10px;
      width: 100%;
    }

    .form-control {
      background: url('assets/framework/images/form/drop-down.png') no-repeat;
      background-position: 95% 50%;
      border-radius: 0;
      font-weight: 400;
      margin-bottom: 15px;
      padding: 6px;
    }
  }
}

.right-content {
  float: left;
  padding-left: 15px;
  width: 50%;

  textarea {
    border-radius: 0;
    height: 150px;
    margin-top: 15px;
    resize: vertical;;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .left-content,
  .right-content {
    padding: 0;
    width: 100%;

    textarea {
      height: 100px;
      margin-top: 5px;
      width: 83%;
    }
  }
}

@media only screen and (max-width: 987px) {
  .left-content,
  .right-content {
    textarea {
      width: 100%;
    }
  }
}
