$border-color: #ccc;

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.form {
  border-top: 1px solid $border-color;
  margin: 15px 0;

  &:first-child {
    border: 0;
  }
}

.certification {
  border-top: 1px solid $border-color;
  margin: 10px 0 20px;
  padding-top: 15px;

  &:first-child {
    border: 0;
    padding-top: 0;
    margin-top: 0;
  }

  .worked-from,
  .worked-to {
    label {
      margin-bottom: 10px;
      width: 100%;
    }

    .form-control {
      margin-bottom: 15px;
      padding: 6px;
    }
  }
}

@media only screen and (max-width: 980px) {
  .certification {
    .col-sm-4 {
      width: 50%;
    }

    .col-sm-10 {
      clear: both;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .certification {
    padding: 0;

    .col-sm-4,
    .form-control {
      margin: 0;
      width: 100%;
    }

    .btn-create-profile {
      margin-top: 15px;
    }
  }
}
