<div class="search-container" style="margin-top:70px; text-align:center;">
  <div><p>Candidate search</p></div>
  <!--
    <input auto-complete (keypress)="searchCandidate()" [(ngModel)]="searchValue" [source]="candidateDataList" placeholder="select" class="search"/>
  -->
  <input (keyup)="searchCandidate($event.target.value)" value="searchValue">
  <button>Search</button>
  <!--<form class="form-horizontal" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div>
      <div class="col-sm-5">
        <input  ng2-auto-complete
                [source]="candidateDataList"
                [list-formatter]="autocompleListFormatter"
                value-property-name="id"
                display-property-name="first_name"
                placeholder="Contients"
                (keydown)="searchCandidate($event.target.value)">
      </div><br/>
      <button type="submit">Submit</button>
    </div>
  </form>-->
  <div class="pull-left col-xs-3 no-padding clear-all-btn">
  </div>
  <li *ngFor="let item of candidateDataList">
    <div (click)="getJobProfileMatching(item.id)">
      {{item.display_string}}
    </div>
  </li>
  <div *ngFor="let job of listOfJobs">
    <cn-candidate-q-card [progress_bar_color]="'#29b6f6'" [job]="job" [type]="'searchView'"></cn-candidate-q-card>
  </div>
  <!--<div *ngIf="candidateProfileMeta._id">
  <cn-candidate-profile-meta [candidateMetaData]="candidateProfileMeta"></cn-candidate-profile-meta>
  </div>-->
  <div>
    <cn-candidate-description [candidateDetails]="candidateDetails"
                              [candidate]="candidate"></cn-candidate-description>
  </div>
  <div *ngIf="candidate.employmentHistory.length>0">
    <cn-vertical-list-view [data]="candidate.employmentHistory" [type]="'employment history'"
                           [calledFrom]="'singlepageview'"></cn-vertical-list-view>
  </div>
  <div *ngIf="candidate.academics.length>0">
    <cn-vertical-list-view [data]="candidate.academics" [type]="'academic details'"
                           [calledFrom]="'singlepageview'"></cn-vertical-list-view>
  </div>
  <button (click)="viewProfile()">View Profile</button>
</div>
