$text-color: #666;
$white: #fff;
$option-border-color: #999;
$primary-option: #1c75bd;

.error-messages {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

.compact-view {
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}
