@import '../../../../css/common';

.change-mobile {
  .error-message {
    color: $error;
    font-size: 10px;
    font-style: italic;
    line-height: 12px;
    margin: 1px 0 0;
    position: absolute;
    top: 53px;
  }

  form {
    label > img {
      height: 20px;
      width: 20px;
    }
  }

  .form-group {
    margin-bottom: 20px;
  }
}

