$error: #e82c0c;
$info: #999;

.poster-wrapper {

  .error-messages {
    padding-left: 0;
    color: $error;
    font-size: 12px;
    padding-left: 0;

    p {
      color: $error;
      font-size: 12px;
      padding-left: 0;
    }
  }

  .btn-primary:disabled {
    display: none;
  }

  .hide-recruiter-info {
    display: none;
  }
}

.info {
  font-size: 10px;
  font-style: italic;
  background: url('../../assets/c-next/profile-creator/info.png')  no-repeat  0 0;
  padding-left: 25px;
  display: block;
  margin: 0 0 10px;
  color: $info;
}

@media only screen and (max-width: 767px) {
  .info {
    font-size: 10px;
    background: none;
    padding-left: 0;
    display: block;
  }
}
