$error: #e82c0c;

.poster-wrapper {

  .error-messages {
    padding-left: 0;
    color: $error;
    font-size: 12px;
    padding-left: 0;

    p {
      color: $error;
      font-size: 12px;
      padding-left: 0;
    }
  }

  .btn-primary:disabled {
    display: none;
  }
}

.info {
  font-size: 12px;
  font-style: italic;
  margin: 0 0 10px;
}