<div class="value-portraot-section">
  <div class="value-portraot-container">
    <!--<header>
      <div class="col-xs-5">
        <h1>
          Value Portrait
          <span> Experience is what it's all about</span>
        </h1>
      </div>
      <div class="col-xs-7">
        fff dasds
      </div>
    </header>-->
    <cn-value-portrait></cn-value-portrait>
    <!--<cn-value-portrait-header ></cn-value-portrait-header>
    <cn-candidate-capability-portrait ></cn-candidate-capability-portrait>-->
  </div>
</div>
