@import '../../../../css/variables';

.value-portraot-container {
  padding: 0 15px;
  margin: 0 auto;
  width: 96%;
}

.value-portraot-section {
  background: $theme-color;
  display: inline-block;
  padding-bottom: 50px;
  width: 100%;
}
