@import '../../../../css/variables';

.value-portraot-container {
  padding: 0 15px;
  margin: 0 auto;
  width: 92%;
}

.value-portraot-section {
  background: $theme-color;
  display: inline-block;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  overflow: auto;
}
