@import '../../../css/common';

.details-page {
  .form-details {
    background: $white;
    border: 1px solid $border-color;
    padding: 15px;
    position: relative;

    .form-group {
      label {
        background: $white url('../assets/build-info/dashboard/edit-bg.png') no-repeat 100% 50%;
        margin: 0;
        position: relative;
        transition: 0.5s ease-in-out;
        width: 100%;
      }

      .form-control {
        color: $body-text !important;
        border-left :0;
        border-top: 0;
        border-radius: 0 !important;
        border-right: 0;
        font-size: 18px !important;
        padding: 0 0 6px !important;

        &:focus {
          border-left :0 !important;
          border-top: 0 !important;
          border-right: 0 !important;
        }
      }

      &:hover {
        label {
          background: $white url('../assets/build-info/dashboard/edit.png') no-repeat 100% 50%;
        }
      }
    }

    .btn-primary {
      bottom: -60px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 767px) {
  .details-page {
    padding: 0;
  }
}
