@import '../../../css/common';

//Splash Screen
.page-background {
  @extend %background-img;
  background: $grey-background 0 40px;
  display: table;
  height: 100vh;
  margin: 0 auto;
  width: 100%;

  #snackbar {
    visibility: inherit;
    min-width: 384px;
    margin-left: -125px;
    background-color: cadetblue;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 1%;
    top: 51px;
    font-size: 17px;
  }

  .button-style {
    border: 0;
    background: transparent;
    color: black;
    position: absolute;
    right: -3px;
    top: -3px;
  }

  .inner-content {
    display: table-cell;
    height: 100vh;
    vertical-align: middle;

    h4 {
      color: $white;
      font-family: 'helveticaneueregular';
      font-size: 48px;
      font-weight: 100;
    }

    p {
      color: $white;
      font-family: 'helvlightregular';
      font-size: 16px;
      margin-top: 20px;
    }
  }
}
