@import '../../../css/common';

.page-header {
  border: 0;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  font-family: 'helvlightregular';
  height: 40px;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .cn-logo {
    position: fixed;
    top: 3px;
    left: 30px;
    width: 120px;

    img {
      width: 100%;
    }
  }

  ul {
    float: right;
    list-style: none;
  }

  ul > li {
    float: left;
    margin-right: 35px;
    padding: 10px 0;
  }

  ul > li > a {
    color: $white;
  }
}

@media screen and (max-width: 767px) {
  .page-header {
    .cn-logo {
      left: 15px;
    }

    ul > li {
      margin-right: 15px;
    }
  }
}