.form-control {
  border-radius: 0;
  height: 100px;
  margin: 0 0 15px 0;
  resize: vertical;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .more-about-myself {
    padding: 0;
  }
}