@import '../../../../css/common';
@import '../../../framework/landing-page/landing-page.component';

.alert {
  margin: 0 0 15px;
  text-align: left;
}

.page-background-left-position {
  background: no-repeat fixed 25% 100%;
}

h4 {
  font-size: 24px;
  color: $heading;
}
