<div class="feedback-modal">
  <div class="feedback-section">
    <p? *<!--ngFor="let feedbackQuestion of feedbackQuestions[0]?.questions"-->
      <!--Welcome1{{feedbackQuestion}}-->
      Did you notice that every question shows various degrees of job
      complexity? This provides direction to career progression
    </p>
    <div class="thumbs-section">
      <i class="glyphicon glyphicon-thumbs-up"></i>
      <i class="glyphicon glyphicon-thumbs-up thumbs-down"></i>
    </div>
    <div class="skip-btn">
      skip
    </div>
  </div>
</div>

  <!--{{feedbackQuestions}}-->
  <!--{{feedbackQuestions[0]?.questions}}
  {{feedbackQuestions[0]?.answers}}
<div *ngFor="let feedbackQuestion of feedbackQuestions[0]?.questions">
  Welcome1{{feedbackQuestion}}
</div>
<div *ngFor="let feedbackAnswer of feedbackQuestions[0]?.answers">
  Welcome2{{feedbackAnswer}}
</div>-->
