@import '../../../../../../../css/common';

.row-list {
  color: #8290A8;
  padding: 0;
  font-size: 12px;
  .border-right {
    border-right: 1px solid $row-border;
    padding-bottom: 10px !important;
  }
  .col-md-6 {
    padding: 0 0 0 58px;
  }
}

.item-inner-row {
  .border-right {
    border-right: 1px solid $row-border;
  }
  .row-lists {
    border-right: 1px solid $row-border;
    font-size: 12px;
    margin: 0;
    padding: 10px 15px;
  }
  .col-md-6 {
    padding-left: 44px;
  }
}

.item-header-row{
  .border-right {
    border-right: 1px solid $row-border;
  }
  .row-lists {
    font-size: 12px;
    min-height: 50px;
    margin: 0;
    padding: 25px 15px;
  }
}

.item-footer-row{
  .border-right {
    border-right: 1px solid $row-border;
  }
  .row-lists {
    font-size: 12px;
    margin: 0;
    padding: 15px;
  }
}
