@import '../../../../../../../css/common';

.row-list {
  color: #8290A8;
  display: table;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 100%;

  .row-lists {
    display: table-cell;
    float: none;
  }

  .border-right {
    border-right: 1px solid $row-border;
    padding-bottom: 6px !important;
  }
  .col-sm-6 {
    padding: 0 10px 0 40px;
  }
}

.item-inner-row {
  display: table;
  margin: 0;
  width: 100%;

  .border-right {
    border-right: 1px solid $row-border;
  }
  .row-lists {
    border-right: 1px solid $row-border;
    display: table-cell;
    float: none;
    font-size: 12px;
    margin: 0;
    padding: 15px;
  }
  .col-sm-6 {
    overflow: hidden;
    padding-left: 30px;
    white-space: normal;
  }
  .border-0 {
    border: 0 !important;
  }
}

.item-header-row{
  .border-right {
    border-right: 1px solid $row-border;
  }
  .row-lists {
    font-size: 12px;
    min-height: 43px;
    margin: 0;
    padding: 13px 15px;
  }
}

.item-footer-row {
  .border-right {
    border-right: 1px solid $row-border;
  }
  .row-lists {
    font-size: 12px;
    margin: 0;
    padding: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .row-list {
    .row-lists {
      padding: 0 5px 5px;

      &:last-child {
        text-align: right !important;
      }
    }

    .col-xs-7 {
      padding: 0 5px 0 25px;
    }

    .border-right {
      border-right: 0;
    }
  }

  .item-inner-row {
    .row-lists {
      float: left;
      padding: 15px 5px;

      &:last-child {
        text-align: right !important;
      }
    }

    .col-xs-7 {
      padding-left: 25px;
    }

    .border-right {
      border-right: 0;
    }
  }

  .item-footer-row {
    .border-right {
      border-right: 0;
    }
    .row-lists {
      padding: 5px;

      &:last-child {
        text-align: right !important;
      }
    }
  }
}
