<div [hidden]="!isShowQCardView">

  <label>Sort by:</label>
  <select id="menu"  [(ngModel)]="qCardModel.name" (change)="sortBy()">
    <option value="JobMatching">JobMatching</option>
    <option value="Experience" >Experience</option>
  </select>
<p>{{matches}}Matches Found</p>
<div *ngFor="let item of candidates | orderBy:format">

      <span>{{item.salary}}</span>
      <span >{{item.experience}}</span>
      <span >{{item.location}}</span>
        <span >{{item.matching}}</span>
<br/>
</div>

</div>

